<% if (user) { %>
    <header class="p-3 bg-dark text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="../about" class="nav-link px-2 text-white">About</a></li>
            <li><a href="../faqs" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="../help" class="nav-link px-2 text-white">Help</a></li>
          </ul>
          
          <div class="text-end">
            <a href="../taxi/" ><button type="button" class="btn btn-outline-light me-2"><%= user.name %></button></a>
          </div>
          <h1 id="logo"><a class="navbar-brand" href="/">Goober</a></h1>
        </div>
    </header>
<% } else { %>
    <header class="p-3 bg-dark text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="../about" class="nav-link px-2 text-white">About</a></li>
            <li><a href="../faqs" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="../help" class="nav-link px-2 text-white">Help</a></li>
          </ul>
  
          <h1 id="logo"><a class="navbar-brand" href="/">Goober</a></h1>
          
          <div class="text-end">
            <a href="/auth/google" id="login"><button type="button" class="btn btn-outline-light me-2">Login with <img class="google" src="https://i.imgur.com/FHjYyi0.png"></button></a>
            <a href="/auth/google"><button type="button" class="btn btn-warning">Sign-up with <img class="google" src="https://i.imgur.com/FHjYyi0.png"></button></a>
          </div>
        </div>
    </header>
<% } %>