<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		<!-- <link rel="stylesheet" href="/stylesheets/base.css"> -->
		<link rel="stylesheet" href="/stylesheets/index.css">
		<!-- <link rel="stylesheet" href="/stylesheets/login.css"> -->
    <link rel="stylesheet" href="/stylesheets/about.css"> 
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>      
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="./about" class="nav-link px-2 text-white">About</a></li>
                  <li><a href="./faqs" class="nav-link px-2 text-white">FAQs</a></li>
                  <li><a href="./help" class="nav-link px-2 text-white">Help</a></li>
                </ul>
        
				<h1 id="logo"><a class="navbar-brand" href="/">Goober</a></h1>
				
                <div class="text-end">
				          <a href="/auth/google" id="login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                  <a href="./signup"><button type="button" class="btn btn-warning">Sign-up</button></a>
                </div>
              </div>
        </header>

	
		<main>
            <div id="about" class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">About Us</button>
                  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Purpose</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                    <span id="aboutP1">Goober is a platform that was made with the intention of providing a service that has been promised before but has yet to be truly delivered.
                    The rideshare industry has pretty much eliminated traditional taxis in most major cities. The allure of a cheaper ride and greater availability 
                    has been met with great demand. We aim to build a platform where riders AND drivers are able to benefit greatly. You may have seen promotional
                    ads from other rideshare apps targeted to potential drivers, in which they promise favorable pay and work flexibility. While the work flexibilty 
                    can't be argued, the amount of money drivers are taking home for trips has started to decline. Other rideshare apps are now charging drivers
                    multiple fees per trip that are resulting in the driver taking home less than 50% of the fare. We dont feel that's fair, as the drivers are just as 
                    essential as the riders are to the app. They are sacrificing their time and vehicle while providing excellent customer service and would be 
                    compensated properly for their efforts.</span> <br>
                    <div id="aboutP2"> Goober was created by former rideshare drivers to help provide an app in which covers can be properly compensated while still providing safe rides 
                    for riders. On the Goober platform we are transparent with our drivers and provide a detailed receipt of each trip fare. Goober never takes more 
                    than %5 for our service fee, guaranteeing drivers take home at least 95% of each trip they complete and 100% of the fare for all short trips. We understand 
                    that the app is nothing without the riders, but riders need drivers and drivers want to be properly compenstated. Sign Up today and help shift the culture
                    in the rideshare app industry! </div>
                </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                    I am a software engineer and the purpose of this app is to show my ability as a developer. The app was built 
                    using MongoDB, Mongoose, Express, and Node.js. For design and CSS, I used bootstrap along with Adobe Illustrator and 
                    Adobe Photoshop for illustrations. The Google Oauth 2 api was used for user sign up and login.
                    Thank you for checking out my site and any feedback would be greatly appreciated. Feel free to navigate to the 'Help'
                    page and leave your thoughts by submitted the form on the page. Also feel free to check out my other projects by 
                    navigating to my portfolio by clicking <a href="https://vsalter.github.io/Portfolio" target="_blank">here</a>
                  </div>
                </div>
            </div>			
		</main>
		
		<footer>
			
		</footer>
	</body>
</html>