#about {
  min-height: 100%;
}

#v-pills-tab {
  padding: 2%;
  border-right: 2px solid black;
  min-height: 1000px;
}

#v-pills-home-tab {
  margin-bottom: 10px;
  width: 150px;
}

#v-pills-home {
  text-indent: 50px;
}

#aboutP2 {
  text-indent: 50px;
}

#v-pills-profile {
  text-indent: 50px;
}

#v-pills-tabContent {
  padding: 2% 15% 5% 10%;
}