<%- include('../partials/userHeader') %>

<div id="contact-form">

    <div id="formHeader">
        <h1>Add Passengers</h1> 
    </div>
    <form id="add-passenger-form"  action="/taxi/<%=taxiId%>/passengers" method="POST">
        <div>             
            <label for="noOfSeats">
            <span class="required">Number of Seats: </span>
                <select id="noOfSeats" name="noOfSeats" tabindex="4">   
                <option class="dropdown-item disabled" default>No. Of Seats</option>
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value = "3">3</option>
                <option value="4">4</option>
                </select>
            </label>
        </div>
        <div>             
            <label for="cost">
            <span class="required">Pickup City: </span>
                <select id="cost" name="cost" tabindex="4">   
                <option value="5" selected>$5</option>
                <option value="10">$10</option>
                <option value="15">$15</option>
                <option value="20">$20</option>
                </select>
            </label>
        </div>
        <div>              
            <button name="submit" type="submit" id="submit" >Add Passengers</button> 
        </div>
    </form>

</div>
        
<%- include('../partials/footer') %>