<%- include('../partials/userHeader') %>

    <h2>Edit Your Trip :</h2>
        <div class="newTaxi">
            <form action="/taxi/<%= taxi.id %>?_method=PUT" method="POST" autocomplete="off">
                <label>Type of Car:
                    <select name="carType">
                    <option class="dropdown-item disabled" default>Select Car</option>
                    <option value="Sedan gas">Sedan gas</option> 
                    <option value = "Sedan electric">Sedan electric</option>
                    <option value="SUV">SUV</option>
                    </select>
                </label><br>
                <label>Pickup City:
                    <select name="pickupCity">
                        <option value="ATL" selected>ATL</option>
                        <option value="Macon">Macon</option>
                        <option value="Marietta">Marietta</option>
                        <option value="Decatur">Decatur</option>
                        <option value="Riverdale">Riverdale</option>
                    </select>
                </label><br>
                <label>Pickup Address:
                    <input type="text" name="pickupAddy">
                </label><br>
                <label>Pickup Time:
                    <input type="datetime-local" name="departs">
                </label><br>
                <label>Dropoff City:</label>
                <select name="destinationCity">
                    <option value="ATL">ATL</option>
                        <option value="Macon">Macon</option>
                        <option value="Marietta">Marietta</option>
                        <option value="Decatur">Decatur</option>
                        <option value="Riverdale" selected>Riverdale</option>>
                </select><br>
                <label>Dropoff Address:
                    <input type="text" name="destAddy">
                </label><br>
                <input type="submit" value="Add Taxi"><br><br>
                <button><a href="/taxi">Cancel</a></button>
            </form>
        </div>
        
<%- include('../partials/footer') %>