<%- include('../partials/userHeader') %>

<div id="contact-form">

    <div id="formHeader">
        <h1>Update Pickup</h1> 
    </div>
    <form action="/taxi/<%= taxi.id %>?_method=PUT" method="POST" autocomplete="off">
        <div>             
            <label for="carType">
            <span class="required">Type of Car: </span>
                <select id="carType" name="carType" tabindex="4">   
                <option class="dropdown-item disabled" default>Select Car</option>
                <option value="Sedan gas">Sedan gas</option> 
                <option value="Sedan gas">Sedan electric</option> 
                <option value = "Sedan electric">SUV</option>
                <option value="SUV">Van</option>
                </select>
            </label>
        </div>
        <div>
            <label for="pickupAddy">
            <span class="required">Pickup Address: </span>
            <input type="text" name="pickupAddy" value="" placeholder="Pickup Address" tabindex="2" required="required" />
            </label>  
        </div>
        <div>             
            <label for="pickupCity">
            <span class="required">Pickup City: </span>
                <select id="pickupCity" name="pickupCity" tabindex="4">   
                <option value="ATL" selected>ATL</option>
                <option value="Macon">Macon</option>
                <option value="Marietta">Marietta</option>
                <option value="Decatur">Decatur</option>
                <option value="Riverdale">Riverdale</option>
                </select>
            </label>
        </div>
        <div>
            <label for="departs">
            <span class="required">Pickup Time: </span>
            <input type="datetime-local" name="departs" value="" placeholder="pickup time" tabindex="2" required="required" />
            </label>  
        </div>
        <div>              
            <button name="submit" type="submit" id="submit" >Update Pickup</button> 
        </div>
    </form>

</div>
        
<%- include('../partials/footer') %>